@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

*{
    user-select: none;
    overflow: hidden;
    font-size: 100%;
    outline: none;
    font-family: 'Barlow', sans-serif;
    pointer-events: none;
}

#body{
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    margin: 0; padding: 0;
    /* background-color: rgb(240, 240, 240); */
    background-color: rgb(31, 31, 31);
}

#content{
    position: absolute;
    left: 10%; top: 10%;
    width: 80%; height: 80%;
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 10px rgb(17, 17, 17);
}

hr{
    position: absolute;
    height: 50%;
    width: 12.5px;
    background-color: white;
    border-radius: 8px;
    transform: translateX(512px);
    border: none;
    background-image: linear-gradient(#0099f1 0%, #9059ff 9%, #b833e1 35%, #e31587 52%, #fc4055 70%, #ff9640 92%, #fff36e 100%);
}

#text{
    height: 512px; width: 512px;
    transform: translateX(25%) translateY(-50px);
}

#text_title{
    font-size: 50px;
    padding-bottom: 15px;
}

#text_body{
    font-size: 25px;
}